/* =============
    Section 1
============= */

#section-1{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section-1 .";
    padding-top: 70px;
    padding-bottom: 150px;

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: section-1;

        #section-1-inside{
            background-size: cover;
            height: 600px;

            @include md{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: "aside article";
            }

            #article{
                padding-bottom: 50px;

                @include md{
                    grid-area: article;
                    padding-top: 200px;
                    padding-left: 20px;
                    padding-right: 20px;
                }

                // #hr-bottom{
                //     padding-bottom: 20px;
                // }

                h2{
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

                p{
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        
            #aside{
                background-image: url('../img/section-1/frida_painting.jpg');
                background-repeat: no-repeat;
                height: 650px;
                padding-bottom: 20px;

                @include md{
                    grid-area: aside;
                }
            }
        }

    }
}
