/* =============
    Section 1
============= */

#section-1{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section-1 .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: section-1;

        #section-1-inside{
            @include md{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: "aside article";
            }

            #article{
                @include md{
                    grid-area: article;
                }
            }
        
            #aside{
                @include md{
                    grid-area: aside;
                }
            }
        }

    }
}
