/* =============
    Section 2
============= */

#section-2{
    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: ". section-2 .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: section-2;

        img{
            width: 100%;
        }
    }

}
